table, thead, tbody, tr,th, td {
  text-align: center;
  vertical-align: middle;
}

tr th div{
  min-width: 60px;
}



th {
  text-align: center;
}

.merTable, .YahTable {
  width: 100%;
  border-collapse: collapse;
}

.merTable td, .merTable th {
  border: 1px groove;
}

.YahTable td, .YahTable th {
  border: 1px groove;
}


#bar-example-8 {
  height: 200px;
  max-width: 300px;
  margin: 0 auto;
  --labels-size: 50px;
  margin-bottom: 20px;
}

#area-example-10 {
  height: 200px;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.wel {
  color: rgb(82, 112, 219);
  font-weight: bold;
}

.toolHeader {
  display: flex;
}

.Mer_tool {
  width: 100%;
  height: auto;
  /* border: 1px solid gray;
  border-radius: 5px 5px 0 0; */
  display: flex;
  justify-content:space-between;
  margin-top: 20px;
}

.tool-merCondition {
  width: 28%;
  height: auto;
  /* border: 1px solid gray;
  border-radius: 5px 0 0 0; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tool-merCondition-result {
  width: 70%;
  height: auto;
  padding: 40px 20px 0 0;
}

.resultDiv {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  padding-right: 20px;
}

.bs-select label {
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.bs-select label select {
  width: 50px;
  margin-left: 50px;
}

.form-control-sm {
  margin-left: 0 !important;
}

.row {
  margin-top: 5px;
}